<%# locals: (feature_tag:) %>

<tr id="<%= display_feature_tag_table_turbo_frame_row_id(feature_tag) %>">
  <td>
    <%= link_to feature_tag, data: { turbo_frame: "_top" } do %>
      <%= feature_tag.name.truncate(PinFlags::FeatureTag::MAX_NAME_LENGTH / 2) %>
    <% end %>
  </td>
  <td>
    <%= form_with model: feature_tag, url: pin_flags.feature_tag_path(feature_tag),
        method: :patch,
        data: { controller: 'pin-flags-form-submit' },
        class: 'form-inline' do |f| %>
      <%= f.check_box :enabled, class: 'checkbox', data: { action: 'change->pin-flags-form-submit#submit' } %>
    <% end %>
  </td>
  <td>
    <%= link_to feature_tag, data: { turbo_frame: "_top" } do %>
      <%= feature_tag.feature_subscriptions.any? ? 'Yes' : 'No' %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Delete', feature_tag, method: :delete,
        data: {
          turbo_method: :delete,
          turbo_confirm: display_feature_tag_row_delete_confirmation(feature_tag),
        },
        class: 'button is-small is-danger' %>
  </td>
</tr>