<% content_for :title, "Feature Tags" %>

<nav class="navbar" role="navigation" aria-label="main navigation"
     x-data="{ mobileMenuOpen: false }">
  <div class="navbar-brand">
    <%= link_to pin_flags.root_path, class: "navbar-item" do %>
      <span class="is-size-2 is-size-4-mobile has-text-weight-bold has-text-white">
        ⛳ Pin Flags
      </span>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu"
       :aria-expanded="mobileMenuOpen"
       :class="{ 'is-active': mobileMenuOpen }"
       @click="mobileMenuOpen = !mobileMenuOpen">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" :class="{ 'is-active': mobileMenuOpen }">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-primary is-dark"
                  @click="$dispatch('open-modal', { modalId: '<%= display_import_form_modal_id %>' })">
            Import
          </button>
          <%= link_to "Export", pin_flags.feature_tags_exports_path(format: :json),
              class: "button is-info is-dark" %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mt-4">
  <%= turbo_frame_tag :new_feature_tag do %>
    <%= render 'new_feature_tag_link' %>
  <% end %>
</div>

<div class="mt-5">
  <section x-data="{ timeout: null, delay: 500 }">
    <%= form_with url: pin_flags.feature_tags_path, method: :get,
        data: { turbo_frame: :feature_tags_table } do |form| %>
      <div class="columns">
        <div class="column">
          <%= form.search_field :filter, 
              placeholder: "Filter by name...", 
              autocomplete: "off",
              value: @filter_param || "",
              maxlength: PinFlags::FeatureTag::MAX_NAME_LENGTH,
              pattern: "[^\s]+.*",
              class: "input is-medium", 
              aria: { label: "Search Feature Tags" },
              "@input": "clearTimeout(timeout); timeout = setTimeout(() => { $el.closest('form').requestSubmit() }, delay)"
          %>
        </div>
        <div class="column">
          <div class="select is-medium mr-3">
            <%= form.select :enabled, 
                options_for_select([
                  ['Enabled?', ''],
                  ['Enabled', 'true'],
                  ['Disabled', 'false']
                ], params[:enabled]), 
                {}, 
                {
                  aria: { label: "Filter by enabled status" },
                  "@change": "clearTimeout(timeout); timeout = setTimeout(() => { $el.closest('form').requestSubmit() }, delay)"
                }
            %>
          </div>
          <div class="select is-medium">
            <%= form.select :subscriptions, 
                options_for_select([
                  ['Subscriptions?', ''],
                  ['Has Subscriptions', 'true'],
                  ['No Subscriptions', 'false']
                ], params[:subscriptions]), 
                {}, 
                {
                  aria: { label: "Filter by subscriptions status" },
                  "@change": "clearTimeout(timeout); timeout = setTimeout(() => { $el.closest('form').requestSubmit() }, delay)"
                }
            %>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <% if @feature_tags.any? %>
    <%= turbo_frame_tag :feature_tags_table do %>
      <%= render 'feature_tags_table', feature_tags: @feature_tags, paginator: @paginator,
          filter_param: @filter_param, enabled_param: @enabled_param, subscriptions_param: @subscriptions_param %>
    <% end %>
  <% else %>
    <%= turbo_frame_tag :feature_tags_table do %>
      <%= render 'empty_feature_tags_table', filter_param: @filter_param, enabled_param: @enabled_param, subscriptions_param: @subscriptions_param %>
    <% end %>
  <% end %>
</div>