<% content_for :title, "Feature Tags" %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to pin_flags.root_path, class: "navbar-item" do %>
      <span class="is-size-2 is-size-4-mobile has-text-weight-bold has-text-white">⛳ Pin Flags</span>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Bulk Action", '#', 
              class: "button is-primary is-dark" %>
          <%= link_to "Import", '#', 
              class: "button is-info is-dark" %>
          <%= link_to "Export", '#',
              class: "button is-info is-dark" if @feature_tags.any? %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mt-4">
  <%= turbo_frame_tag :new_feature_tag do %>
    <%= render 'new_feature_tag_link' %>
  <% end %>
</div>

<div class="mt-5">
  <%= form_with url: pin_flags.feature_tags_path, method: :get,
      data: {
        turbo_frame: :feature_tags_table,
        controller: "pin-flags-submit-debounce",
        "pin-flags-submit-debounce-target": "form"
      } do |form| %>
    <div class="columns">
      <div class="column">
        <%= form.search_field :filter, 
            placeholder: "Filter by name...", 
            autocomplete: "off",
            value: @filter_param || "",
            maxlength: PinFlags::FeatureTag::MAX_NAME_LENGTH,
            pattern: "[^\s]+.*",
            class: "input is-medium", 
            aria: { label: "Search Feature Tags" },
            data: {
              action: "input->pin-flags-submit-debounce#activate"
            }
            %>
      </div>
      <div class="column">
        <div class="select is-medium">
          <%= form.select :enabled, 
              options_for_select([
                ['Enabled?', ''],
                ['Enabled', 'true'],
                ['Disabled', 'false']
              ], params[:enabled]), 
              {}, 
              {
                aria: { label: "Filter by enabled status" },
                data: {
                  action: "change->pin-flags-submit-debounce#activate"
                }
              }
          %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @feature_tags.any? %>
    <%= turbo_frame_tag :feature_tags_table do %>
      <%= render 'feature_tags_table', feature_tags: @feature_tags %>
    <% end %>
  <% else %>
    <%= turbo_frame_tag :feature_tags_table do %>
      <%= render 'empty_feature_tags_table', filter_param: @filter_param, enabled_param: @enabled_param %>
    <% end %>
  <% end %>
</div>