<!DOCTYPE html>
<html>
  <head>
    <title>Pin Flags | <%= content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "pin_flags/bulma.min", preload: false %>
    <%= stylesheet_link_tag "pin_flags/application", "data-turbo-track": "reload" %>
    
    <!-- Use host app's JavaScript (Turbo + Stimulus) -->
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "pin_flags/alpine.min", defer: true %>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <%= render "layouts/pin_flags/flash" if flash.any? %>
        <%= yield %>
      </div>
    </section>

    <%= render "layouts/pin_flags/modal",
        modal_id: display_import_form_modal_id,
        title: "Import Feature Tags" do %>
        <%= render "pin_flags/feature_tags/imports/form" %>
    <% end %>
  </body>
</html>
