<!DOCTYPE html>
<html>
  <head>
    <title>Pin Flags - <%= content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "pin_flags/bulma.min", preload: :style %>
    <%= stylesheet_link_tag "pin_flags/application", "data-turbo-track": "reload" %>
    
    <!-- Use host app's JavaScript (Turbo + Stimulus) -->
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <%= render "layouts/pin_flags/flash" if flash.any? %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
